
// Change colors here

// Odoo EE colors
//$brand-primary: #875a7b;
//$brand-secondary: #00A09D;
//------------------------
$brand-primary: #fe840e;
$brand-secondary: #fe840e;
//------------------------


$brand-primary-dark: darken($brand-primary, 10%);
$brand-secondary-dark: darken($brand-secondary, 10%);

// body {
//
//     font-family: "Roboto";
// }

.o_loading {
    background-color: $brand-primary;
}

.o_main_navbar {
    background-color : $brand-primary;
    border: none;

}

.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {

    background-color: $brand-primary-dark;
    color: inherit;

}

.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color: $brand-primary-dark;
}

.o_main_navbar .show .dropdown-toggle {

    background-color: $brand-primary-dark;

}


